# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0
#
# This file is the application Kconfig entry point. All application Kconfig
# options can be defined here or included via other application Kconfig files.
# You can browse these options using the west targets menuconfig (terminal) or
# guiconfig (GUI).

menu "Zephyr"
source "Kconfig.zephyr"
# USB communication
config USB_PID_CONSOLE_SAMPLE
    hex
    default 0x0004
    depends on USB_DEVICE_STACK
config USB_DEVICE_PID
    default USB_PID_CONSOLE_SAMPLE
endmenu

# Display settings
menu "Display"
config DISPLAY_FPS
    int "Display frames per seconds"
    default 24
    help
        Defines the display fps (frames per second)
endmenu

# Sound settings
menu "Sound"
config SOUND_MSG_NUMBER
    int "Number of sound events that can be stored in queue"
    default 20
    help
        Number of sound events that can be stored in queue
endmenu

# Button settings
menu "Buttons"
config LONGPRESS_DURATION_MS
    int "Minimal longpress duration in ms"
    default 1000
    help
        Sets the minimal time required for longpress recognition
endmenu

# Logging modules
module = MAIN
module-str = main
source "subsys/logging/Kconfig.template.log_config"

module = EVENTS
module-str = events
source "subsys/logging/Kconfig.template.log_config"

module = DISPLAY
module-str = display
source "subsys/logging/Kconfig.template.log_config"

module = TIMER
module-str = timer
source "subsys/logging/Kconfig.template.log_config"

module = SOUND
module-str = sound
source "subsys/logging/Kconfig.template.log_config"
