/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 * SPDX-License-Identifier: Apache-2.0
 */

/* This devicetree overlay file will be automatically picked by the Zephyr
 * build system when building the sample for the RP Pico. It shows
 * how the example-application can be built on sample boards already provided
 * by Zephyr.
 */
/{
	aliases {
		btn0 = &button0; // Button A
		btn1 = &button1; // Button B
		led = &status_led;
	};

	leds{
		compatible = "gpio-leds";
		status_led:status-led{
			gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>;
			label = "Status LED";
		};
	};

	buttons {
        compatible = "gpio-keys";  // Compatible with gpio-keys driver
        button0: button_a {
            gpios = < &gpio0 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW) >;
            label = "Button controlling minutes";
        };
		button1: button_b {
            gpios = < &gpio0 5 (GPIO_PULL_UP | GPIO_ACTIVE_LOW) >;
            label = "Button controlling seconds";
        };
    };

	blink_led: blink-led {
		compatible = "blink-gpio-led";
		led-gpios = <&gpio0 25 GPIO_ACTIVE_HIGH>; // built-in LED (unavailable on Pico W)
		blink-period-ms = <1000>;
	};

	display_digits{
		compatible = "gpio-leds";
		d1:d1{
			gpios = <&gpio0 21 GPIO_ACTIVE_LOW>; // active high since common anode display
			label = "Display digit Nr. 1 (->Hh:mm)";
		};
		d2:d2{
			gpios = <&gpio0 20 GPIO_ACTIVE_LOW>; 
			label = "Display digit Nr. 2 (h->H:mm)";
		};
		d3:d3{
			gpios = <&gpio0 19 GPIO_ACTIVE_LOW>;
			label = "Display digit Nr. 3 (hh:->Mm)";
		};
		d4:d4{
			gpios = <&gpio0 18 GPIO_ACTIVE_LOW>;
			label = "Display digit Nr. 4 (hh:m->M)";
		};
	};

	display_segments{
		compatible = "gpio-leds";
		sega:seg_a{
			gpios = <&gpio0 15 GPIO_ACTIVE_LOW>; // active low since common anode display
			label = "Display segment A";
		};
		segb:seg_b{
			gpios = <&gpio0 13 GPIO_ACTIVE_LOW>; 
			label = "Display segment B";
		};
		segc:seg_c{
			gpios = <&gpio0 11 GPIO_ACTIVE_LOW>;
			label = "Display segment C";
		};
		segd:seg_d{
			gpios = <&gpio0 9 GPIO_ACTIVE_LOW>;
			label = "Display segment D";
		};
		sege:seg_e{
			gpios = <&gpio0 8 GPIO_ACTIVE_LOW>;
			label = "Display segment E";
		};
		segf:seg_f{
			gpios = <&gpio0 14 GPIO_ACTIVE_LOW>;
			label = "Display segment F";
		};
		segg:seg_g{
			gpios = <&gpio0 12 GPIO_ACTIVE_LOW>;
			label = "Display segment G";
		};
		segdp:seg_dp{
			gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;
			label = "Display segment DP (decimal point)";
		};
	};
};

&gpio0 {
	status = "okay";
};

/* Shell console using USB
*
*/
/ {
	chosen {
		zephyr,console = &snippet_cdc_acm_console_uart;
		zephyr,shell-uart = &snippet_cdc_acm_console_uart;
	};
};

&zephyr_udc0 {
	snippet_cdc_acm_console_uart: snippet_cdc_acm_console_uart {
		compatible = "zephyr,cdc-acm-uart";
	};
};